@font-face {
  font-family: "MyFont";
  src: url(./Roboto-Medium.ttf) format("woff2");
  font-weight: 600;
  font-style: normal;
}
/* background: url('./icon.png'); */
:root {
  --color-white: white;
  --color-gray: rgb(238, 238, 238);
  --color-green: rgb(62, 191, 50);
  --color-black: rgb(27, 27, 27);
  font-family: MyFont, sans-serif;
}

li {
  margin-bottom: 10px;
}

li button {
  font-size: 8px;
  margin-left: 20px;
  color: #666;
}

.header {
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 4px solid var(--color-green);
}

.logo {
  display: flex;
  gap: 10px;
  color: var(--color-green);
}
.logo > img {
  width: 50px;
}

.body {
  display: flex;
}
.sideBar,
.todos {
  height: 600px;
  padding: 15px;
}
.sideBar {
  width: 200px;
  background-color: var(--color-white);
}
.todos {
  flex: 1;
  background-color: var(--color-gray);
}
.sideBar h1 {
  border-bottom: 4px solid var(--color-green);
  margin: 0;
  padding: 5px 0 5px 0;
  margin: 0px 0 10px 0;
}

.main div {
  padding: 5px 0 5px 0;
}
.titleDisplay {
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 10px;
  font-size: 50px;
  padding: 10px 0px 10px 30px;
}
.cards {
  margin-top: 10px;
}

.header button {
  transition-duration: 0.4s;
  border: none;
  text-decoration: none;
  border: 2px solid var(--color-green);
  border-radius: 4px;
  color: var(--color-black);
  height: 30px;
}

.header button:hover {
  background-color: var(--color-green);
  color: var(var(--color-white));
}

.projects > div:hover {
  background-color: var(--color-gray);
  border-radius: 10px;
}

.addProject {
  border: none;
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  all: unset;
}
.inputDiv {
  display: grid;
}
.project,
.inputDiv {
  padding: 10px;
}

.cardInput {
  padding: 20px 0 20px 0;
  display: grid;
  gap: 10px;
  font-size: large;
}

.cardDiv {
  border: 2px solid var(--color-black);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}
