/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  } */
/* background: url('./icon.png'); */
:root {
  --color-white: white;
  --color-gray: rgb(222, 222, 222);
  --color-green: rgb(62, 191, 50);
  --color-black: rgb(27, 27, 27);
}

li {
  margin-bottom: 10px;
}

li button {
  font-size: 8px;
  margin-left: 20px;
  color: #666;
}

.header {
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 4px solid var(--color-green);
}

.header > button {
  height: 20px;
}
.logo {
  display: flex;
  gap: 10px;
  color: var(--color-green);
}
.logo > img {
  width: 50px;
}

.body {
  display: flex;
}
.sideBar,
.todos {
  height: 600px;
  padding: 15px;
}
.sideBar {
  width: 200px;
  background-color: var(--color-white);
}
.todos {
  flex: 1;
  background-color: var(--color-gray);
}
.sideBar h1 {
  border-bottom: 4px solid var(--color-green);
  margin: 0;
  padding: 5px 0 5px 0;
  margin: 0px 0 10px 0;
}

.sideBar div {
  padding: 5px 0 5px 0;
}
